body {
	font-family: "Poppins", Arial, sans-serif;
}

a {
	-webkit-transition: 0s !important;
	-o-transition: 0s !important;
	transition: 0s !important;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
small::selection,
a::selection,
span::selection {
	background: #DC2F2F;
	color: #fff;
}

/* NAVBAR STYLE */
.navbar {
	padding: 15px 140px;
	box-shadow: 0 0 0 0;
	background: #000;
}

@media (max-width: 922px) {
	.navbar {
		padding: 0 15px;
	}
}

.navbar .navbar-brand {
	color: #fff;
	font-weight: bold;
}


.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
	color: #DC2F2F;
	background: transparent;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: #DC2F2F;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #abacae;
}

.navbar .nav-link span {
	padding: 8px 15px;
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	border-radius: 50%;
	color: #fff;
}

@media (max-width: 922px) {
	.navbar .nav-link span {
		color: #abacae;
		background: transparent;
		border-bottom: 1px solid #DC2F2F;
		border-radius: 0;
		padding: 0 0 3px 0;
	}
}

/* HEADER STYLE */
.header {
	background-image: url(../images/img_bg_1.jpg);
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: top;
}

.header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .5;
	height: 80vh;
}

.header .caption {
	text-align: center;
}

.header .caption h1 {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	opacity: .8;
}

@media (max-width: 922px) {
	.header .caption h1 {
		font-size: 20px;
		text-shadow: 0 0 0;
		color: #fff;
	}
}

.header .caption .btn {
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	border-radius: 30px;
	text-transform: uppercase;
	padding: 20px 30px;
	color: #fff;
}

.header .caption .btn1 {
	bottom: 40px;
	right: 20px;
	position: fixed;
	background-color: #000;
	padding: 20px;
	color: #fff;
	border-radius: 50%

}

@media (max-width: 922px) {
	.header .caption .btn {
		padding: 6px 12px;
		font-size: 10px;
	}
}

/* INTRO STYLE */
.intro {
	margin-top: -80px;
}

@media (max-width: 922px) {
	.intro {
		margin-top: 30px;
	}
}

.intro .intro-bg1 {
	background-image: url(../images/intro-img-1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2em 2em 7em 2em;
	position: relative;
	background-size: cover;
	position: relative;
}

.intro .intro-bg2 {
	background-image: url(../images/intro-img-2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2em 2em 7em 2em;
	position: relative;
	background-size: cover;
	position: relative;
}

.intro .intro-bg3 {
	background-image: url(../images/intro-img-3.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2em 2em 7em 2em;
	position: relative;
	background-size: cover;
	position: relative;
}

.intro .desc {
	z-index: 0;
}

.intro .desc:after,
.intro .desc:after,
.intro .desc:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .5;
	display: block;
	z-index: -1;
}

.intro .desc h4 {
	font-weight: bold;
	color: #fff;
	z-index: 3;
}

.intro .desc p {
	color: #dee2e2;
}

.intro .price {
	padding: 20px;
	text-align: center;
	display: block;
	width: 90px;
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	color: white;
	border-radius: 25px 25px 0 0;
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
}

.intro .price small {
	color: #dee2e2;
}


/* SERVICES STYLE */

.services {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.services h4 {
	font-weight: bold;
}

.services p {
	color: grey;
	margin-bottom: 60px;
}

.services .card {
	padding: 35px 0;
	box-shadow: 0 0 0 0;
	background: #f2f3f7;
	border: 0;
	border-radius: 0;
}

.services .card i {
	font-size: 50px;
	background: -webkit-linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000;
}

/* SCHEDULE */
.schedule-bg {
	background: #f2f3f7;
}

.schedule {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.schedule h4 {
	font-weight: bold;
}

.schedule .desc {
	color: grey;
	margin-bottom: 60px;
}

.schedule .entry-forth {
	width: 25%;
	border-left: 1px solid #dee2e2;
}

@media (max-width: 922px) {
	.schedule .entry-forth {
		width: 100%;
		border-left: 0;
	}
}

.schedule .entry-forth:first-child {
	border-left: none;
}

.schedule .nav-pills {
	justify-content: center;
}

.schedule .nav-pills .nav-link {
	color: grey;
	font-size: 15px;
}

@media (max-width: 922px) {
	.schedule .nav-pills .nav-link {
		font-size: 12px;
	}
}

.schedule .nav-pills .active {
	background: -webkit-linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	border-radius: 30px;
	color: #fff;
}

.schedule .tab-content {
	width: 100%;
	margin-top: 20px;
}

.schedule .tab-pane .schedule-flex {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #dee2e2;
}

@media (max-width: 922px) {
	.schedule .tab-pane .schedule-flex {
		display: block;
		border-bottom: 0;
	}
}

.schedule .schedule-flex:last-child {
	border-bottom: none;
}

.schedule .tab-pane i {
	font-size: 50px;
	background: -webkit-linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000;
	display: block;
}

.schedule .tab-pane .time {
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	border-radius: 30px;
	text-transform: uppercase;
	padding: 4px 14px;
	color: #fff;
	font-size: 13px;
	margin: 10px 0;
}

@media (max-width: 922px) {
	.schedule .tab-pane .time {
		font-size: 10px;
	}
}

.schedule .tab-pane p {
	padding-top: 15px;
	margin-bottom: 5px;
}

.schedule .tab-pane small {
	color: #abacae;
}

/* TESTIMONY */
.testimony {
	background-image: url(../images/img_bg_2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	background-size: cover;
	position: relative;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

@media (max-width: 922px) {
	.testimony {
		padding-bottom: 10px;
		padding-top: 10px;
		background-position: 100%;
	}
}

.testimony h3 {
	font-weight: bold;
	color: #abacae;
	font-size: 20px;
}

.testimony h4 {
	font-weight: bold;
	color: #DC2F2F;
	font-size: 30px;
}

@media (max-width: 922px) {
	.testimony h4 {
		font-size: 20px;
	}
}

.testimony h2 {
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	padding-top: 40px;
}

@media (max-width: 922px) {
	.testimony h2 {
		font-size: 20px;
		padding-top: 15px;

	}
}

.testimony p {
	color: #fff;
	font-size: 18px;
}

@media (max-width: 922px) {
	.testimony p {
		font-size: 12px;
	}
}

.testimony .person-img img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
}

.testimony .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .5;
}


/* STAFF */
.staff {
	padding-top: 100px;
	padding-bottom: 100px;
}

.staff h4 {
	font-weight: bold;
}

.staff p {
	color: grey;
}

.staff .card {
	box-shadow: 0 0 0 0;
	background: #f2f3f7;
	border: 0;
	border-radius: 0;
}

.staff .card-img-top {
	height: 235px;
	border-radius: 0;
}


/* CLASSES */
.classes-bg {
	background-color: #f2f3f7;
	padding-top: 100px;
	padding-bottom: 100px;
}

.classes h4 {
	font-weight: bold;
}

.classes p {
	color: grey;
}

.classes .class-img {
	background-image: url(../images/classes-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.classes .class-img2 {
	background-image: url(../images/classes-2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.classes .class-img3 {
	background-image: url(../images/classes-3.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.classes .class-desc {
	padding-top: 20px;
}

.classes .class-desc a {
	color: #000;
	text-transform: uppercase;
}

.classes .price {
	padding: 5px;
	text-align: center;
	display: block;
	width: 90px;
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	color: white;
	border-radius: 0 0 25px 25px;
	position: absolute;
	top: 0;
	text-transform: uppercase;
	font-weight: bold;
}


/* BLOG */
.blog-bg {
	padding-top: 100px;
	padding-bottom: 100px;
}

.blog h4 {
	font-weight: bold;
}

.blog p {
	color: grey;
}

.blog .blog-img1 {
	background-image: url(../images/blog-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.blog .blog-img2 {
	background-image: url(../images/blog-2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.blog .blog-img3 {
	background-image: url(../images/blog-3.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

.blog .meta {
	line-height: 1.4;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 1em;
	text-align: center;
	margin-left: 20px;
}

.blog .day {
	text-align: center;
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	font-size: 24px;
	position: relative;
	padding: 5px 10px;
	color: #fff;
	display: block;
}

.blog .month {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 10px;
	color: gray;
	background: #fff;
	display: block;
}

.blog .price small {
	background: #fff;
	color: grey;
	padding: 5px;
}

.blog .blog-desc {
	margin-top: 20px;
	padding: 20px;
}

.blog .blog-desc span {
	color: #000;
}

.blog .blog-desc h5 a {
	color: #000;
	font-size: 22px;
}

/* SUBSCRIBE */

.subscribe {
	background-image: url(../images/img_bg_2.jpg);
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-position: top;
}

.subscribe h3 {
	font-weight: bold;
	color: #fff;
}

.subscribe p {
	color: grey;
	font-size: 20px;
}

.subscribe .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .5;
	width: 100%;
}

.subscribe .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe .form-control:focus {
	box-shadow: 0 0 0 0;
}

.subscribe .form-control::placeholder {
	color: gray;
	padding-right: 20px;
}


.subscribe .btn {
	background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	margin: 0;
	padding: 0;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 0 35px 35px 0;
	color: #fff;
	font-size: 13px;
}

.subscribe .btn:hover {
	background: #DC2F2F;
}

@media (max-width: 922px) {
	.subscribe .btn {
		background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
		padding-right: 5px;
		padding-left: 5px;
		font-size: 9px;
	}
}

/* FOOTER */
footer {
	background-color: #25282a;
	padding-top: 50px;
	padding-bottom: 50px;
}


footer h6 {
	color: #fff;
	font-weight: bold;
}

footer p {
	color: #abacae;
}

footer ul {
	padding: 0;
	list-style: none;
}

footer ul li span {
	background: -webkit-linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000;
	font-weight: bold;
}


footer ul li a {
	color: #abacae;
}

footer ul li a:hover {
	color: #DC2F2F;
}

footer .f-blog {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	color: #abacae;
}

@media (max-width: 922px) {
	footer .f-blog {
		padding-top: 20px;
	}
}

footer .f-blog img {
	width: 70px;
	height: 60px;
}

footer ul:last-child li {
	color: #abacae;
	padding-top: 10px;
}

footer i {
	background: -webkit-linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000;
	padding-right: 10px;
}